{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="login">
 <form id="login-form">
    <h2>Login</h2>
    <input type="text" name="public_key" placeholder="public key" required />
    <input type="password" name="private_key" placeholder="private key" required />
    <input type="submit" value="enter" />
  </form>
</div>
<div id="register-user">
   <form id="register-user-form">
      <h2>Register User</h2>
      <input type="text" name="username" placeholder="username" required /><br>
      <input type="password" name="password" placeholder="password" required /><br>
      <input type="submit" value="register"/>
  </form>
</div>
<script type="text/javascript">
function httpPostAsync(addr, data, callback) {
    var xhr = register XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

window.onclick = function(event) {
  var login = document.getElementById("login");
  var registerUser = document.getElementById("register-user");
  if (event.target == document.getElementById("login")) {
     login.style.display = "none";
  }; 
  if (event.target == document.getElementById("register-user")) {
     registerUser.style.display = "none";
  };
}

// Callbacks
var loginCallback = function(responseText) {
  var json = JSON.parse(responseText);
  if (json.action == "login" && json.error == null)  {
    window.location.replace("http://localhost:8888/citizen");
  } else {
    console.log(json);
  };
};

var registerUserCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function(){
    // Login
    var loginForm = document.getElementById("login-form");
    loginForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#login-form").serialize();
      httpPostAsync("http://localhost:8888/login", formData, loginCallback);

    };
    // Register user 
    var registerUserForm = document.getElementById("register-user-form");
    registerUserForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#register-user-form").serialize();    
      httpPostAsync("http://localhost:8888/register_user", formData, registerUserCallback); 
    };
}
</script>
{{end}}



