/*
  Minimalistic Form. 
  by: Matheus Marsiglio
  matmarsiglio@gmail.com
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #025768;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
color: #025768;
}

input::-moz-placeholder, textarea::-moz-placeholder {
color: #025768;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
color: #025768;
}

input::placeholder, textarea::placeholder {
color: #025768;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
color: #025768;
}

input::-ms-placeholder, textarea::-ms-placeholder {
color: #025768;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
color: #025768;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #97cc5f;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #97cc5f;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #97cc5f;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #97cc5f;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #97cc5f;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #97cc5f;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #97cc5f;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #97cc5f;
}

html {
  background:
    url("http://localhost:8888/static/images/background.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  background: url(/static/images/site-icon.png) no-repeat top center;
  background-size: 200px;
  border-radius: 50%;
  color: #025768;
}

header {
  position: relative;
  margin: 50px auto 100px auto;
  font-size: 2.2em;
}

form, pre {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  float: left;
  display: inline-block;
  padding: 80px;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #025768;
  
  border: solid 1px #025768;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input[type="submit"] {
  border-bottom: solid 1px #025768;
}

input:hover {
  background:  #025768;
  color: #97cc5f;
  opacity: 0.8;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #168d96;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #025768;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #025768;
  color:  #b3d991;
}