{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="new-track">
    <form id="new-track-form" name="new-track-form" enctype="multipart/form-data">
        <h2>New Track</h2>
        <input type="text" name="publisher_id" placeholder="publisher ID" required /><br>
        <input accept="audio" type="file" name="tracks" required /><br>
        <input type="submit" value="submit" />
    </form>
</div>
<div id="new-album">
    <form id="new-album-form" name="new-album-form" enctype="multipart/form-data">
        <h2>New Album</h2>
        <input type="text" name="album_title" placeholder="album title" required /><br>
        <input type="text" name="publisher_id" placeholder="publisher ID" required /><br>
        <input accept="audio" type="file" name="tracks" multiple required /><br>
        <input type="submit" value="submit" />
    </form>
</div>
<div id="new-right">
  <form id="new-right-form">
    <h2>New Right</h2>
     <select form="new-right-form" name="usage" multiple required>
      <option value="copy">copy</option>
      <option value="play">play</option>
      <option value="sell">sell</option>
    </select><br>
    <select form="new-right-form" name="context" multiple required>
      <option value="commercial_use">commercial use</option>
      <option value="another_context">another context</option>
    </select><br>
    <input type="text" name="music_id" placeholder="music ID" required /><br>
    <input type="text" name="recipient_id" placeholder="recipient ID" required /><br>
    <label>valid from</label>
    <input type="date" name="valid_from" required /><br>
    <label>valid to</label>
    <input type="date" name="valid_to" required /><br>
    <input type="submit" value="submit" />
</div>
<pre id="message"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var newTrackCallback = function(responseText) {
  var json = JSON.parse(responseText);
  var str = JSON.stringify(json,null,2);
  $("#message").text(str);
};

var newAlbumCallback = function(responseText) {
  var json = JSON.parse(responseText);
  var str = JSON.stringify(json,null,2);
  $("#message").text(str);
};

var newRightCallback = function(responseText) {
  var json = JSON.parse(responseText);
  var str = JSON.stringify(json,null,2);
  $("#message").text(str);
}

window.onload = function() {
    // New track
    var newTrackForm = document.getElementById("new-track-form");
    newTrackForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = new FormData(event.target);
      httpPostAsync("http://localhost:8888/track", formData, newTrackCallback);
    };
    // New album
    var newAlbumForm = document.getElementById("new-album-form");
    newAlbumForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = new FormData(event.target);
      httpPostAsync("http://localhost:8888/album", formData, newAlbumCallback);
    };
    // New right 
    var newRightForm = document.getElementById("new-right-form");
    newRightForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#new-right-form").serialize();
      httpPostAsync("http://localhost:8888/right", formData, newRightCallback);
    }
}
</script>
{{end}}