{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="create-album">
    <form id="create-album-form" enctype="multipart/form-data">
        <h2>Create Project</h2>
        <input type="text" name="album_title" placeholder="album title" required /><br>
        <input type="text" name="location" placeholder="location" required /><br>
        <input accept="audio" type="file" name="tracks" multiple required /><br>
        <input type="submit" value="create" />
    </form>
</div>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var createProjectCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function() {
    // Create album
    var createProjectForm = document.getElementById("create-album-form");
    createProjectForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = new FormData(event.target);
      httpPostAsync("http://localhost:8888/create_album", formData, createProjectCallback);
    };
}
</script>
{{end}}