{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="compose-form" name="compose-form">
    <header>COMPOSE</header>
    <input type="text" name="hfa" placeholder="HFA SONG CODE" required />
    <input type="text" name="iswc" placeholder="ISWC CODE" required />
    <input type="text" name="publisherId" placeholder="PUBLISHER ID" required />
    <input type="text" name="title" placeholder="TITLE" required />
    <input type="submit" value="compose" />
</form>
<form id="publish-form" name="publish-form">
    <header>PUBLISH</header>
    <input type="text" name="assignmentIds" placeholder="ASSIGNMENT IDs" required />
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" required />
    <input type="submit" value="publish" />
</form>
<form id="search-form" name="search-form" style="margin-top: -240px">
    <header>PUBLICATION</header>
    <input type="text" name="publicationId" placeholder="PUBLICATION ID" style="border-bottom: solid 1px #025768" required /><br><br>
    <label>FIELD</label>
    <select form="search-form" name="field" required>
        <option value="" disabled selected></option>
        <option value="composer">COMPOSER</option>
        <option value="composition">COMPOSITION</option>
        <option value="publisher">PUBLISHER</option>
        <option value="rights">RIGHTS</option>
    </select><br><br>
    <input type="submit" value="search" />
</form>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    var json = JSON.parse(responseText);
    var str = JSON.stringify(json,null,2);
    $("#message").text(str);
};

window.onload = function() {

  var composeForm = $("#compose-form");
  composeForm.submit(function(event) {
    event.preventDefault();
    var formData = composeForm.serialize();
    httpPostAsync("http://localhost:8888/compose", formData, callback);
  });

  var publishForm = $("#publish-form");
  publishForm.submit(function(event){
    event.preventDefault();
    var formData = publishForm.serialize();
    httpPostAsync("http://localhost:8888/publish", formData, callback);
  });

  var searchForm = $("#search-form");
  searchForm.submit(function(event){
    event.preventDefault();
    var formData = searchForm.serialize();
    httpPostAsync("http://localhost:8888/search", formData, callback);
  });
}
</script>
{{end}}