{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<header>COMPOSE</header>
<form id="compose-form" name="compose-form">
    <!--<input type="text" name="composerId" placeholder="COMPOSER ID" required /><br>-->
    <input type="text" name="hfa" placeholder="HFA SONG CODE" required /><br>
    <input type="text" name="iswc" placeholder="ISWC CODE" required /><br>
    <input type="text" name="publisherId" placeholder="PUBLISHER ID" required /><br>
    <input type="text" name="title" placeholder="TITLE" required /><br>
    <input type="submit" value="submit" />
</form>
<header>PUBLISH</header>
<form id="publish-form" name="publish-form">
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" required /><br>
    <input type="text" name="rightIds" placeholder="RIGHT IDs" required /><br>
    <input type="submit" value="publish" />
</form>
<header>PUBLICATION DETAILS</header>
<form id="search-form" name="search-form">
    <input type="text" name="publicationId" placeholder="PUBLICATION ID" required /><br>
    <select form="search-form" name="field" required>
        <option value="" disabled selected></option>
        <option value="composer">COMPOSER</option>
        <option value="composition">COMPOSITION</option>
        <option value="publisher">PUBLISHER</option>
        <option value="rights">RIGHTS</option>
    </select>
    <input type="submit" value="search" />
</form>
<pre id="message"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

window.onload = function() {

  var composeForm = $("#compose-form");
  composeForm.submit(function(event) {
    event.preventDefault();
    var formData = composeForm.serialize();
    httpPostAsync("http://localhost:8888/compose", formData, callback);
  });

  var publishForm = $("#publish-form");
  publishForm.submit(function(event){
    event.preventDefault();
    var formData = publishForm.serialize();
    httpPostAsync("http://localhost:8888/publish", formData, callback);
  });

  var searchForm = $("#search-form");
  searchForm.submit(function(event){
    event.preventDefault();
    var formData = searchForm.serialize();
    httpPostAsync("http://localhost:8888/search", formData, callback);
  });
}
</script>
{{end}}