{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<br><br>
<form id="login-form" style="width:50%">
  <header>LOGIN</header>
  <input type="text" name="agentId" placeholder="USER ID" required />
  <input type="password" name="privateKey" placeholder="PRIVATE KEY" required />
  <input type="submit" value="login" />
</form>
<form id="register-form" style="width:50%">
  <header>REGISTER</header>
  <input type="text" name="name" placeholder="NAME" required />
  <input type="text" name="email" placeholder="EMAIL" required />
  <input type="text" name="socialMedia" placeholder="SOCIAL MEDIA" required />
  <input type="password" name="password" placeholder="PASSWORD" required />
  <input type="submit" value="register"/>
</form>
<br><br>
<pre id="login-message"></pre>
<pre id="register-message"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(id) {
    return function(responseText) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#"+id).text(str);
    }
};

var redirect = function(responseText) {
    console.log(responseText)
    location.replace("http://localhost:8888/compose_publish");
}

window.onload = function(){

    var loginForm = $("#login-form");
    loginForm.submit(function(event) {
        event.preventDefault();
        var formData = loginForm.serialize();
        httpPostAsync("http://localhost:8888/login", formData, callback("login-message"));
    });

    var registerForm = $("#register-form");
    registerForm.submit(function(event) {
        event.preventDefault();
        var formData = registerForm.serialize();   
        httpPostAsync("http://localhost:8888/register", formData, callback("register-message")); 
    });
}
</script>
{{end}}



