{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div>
  <form id="login-form">
    <h2>Login</h2>
    <select form="login-form" name="type" id="login-type" required>
      <option value="artist">artist</option>
      <option value="label">record label</option>
      <option value="publisher">publisher</option>
    </select><br>
    <input type="text" name="agent_id" placeholder="agent ID" required /><br>
    <input type="password" name="private_key" placeholder="private key" required /><br>
    <input type="submit" value="login" />
  </form>
  <form id="register-form">
    <h2>Registration</h2>
    <select form="register-form" name="type" id="register-type" required>
      <option value="artist">artist</option>
      <option value="label">record label</option>
      <option value="publisher">publisher</option>
    </select><br>
    <input type="text" name="name" placeholder="name" required /><br>
    <input type="text" name="email" placeholder="email" required /><br> 
    <input type="password" name="password" placeholder="password" required /><br>
    <input type="submit" value="register"/>
  </form>
</div>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

// Callbacks
var loginCallback = function(responseText) {
  console.log(responseText); //for now
  var type = $("#login-type").val()
  if (type == "artist") {
    location.replace("http://localhost:8888/artist");
  } else {
     location.replace("http://localhost:8888/partner");
  }
};

var registerCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function(){
    // Login
    var loginForm = document.getElementById("login-form");
    loginForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#login-form").serialize();
      httpPostAsync("http://localhost:8888/login", formData, loginCallback);
    };
    // Registration 
    var registerForm = document.getElementById("register-form");
    registerForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#register-form").serialize();    
      var type = $("#register-type").val();
      httpPostAsync("http://localhost:8888/register", formData, registerCallback); 
    };
}
</script>
{{end}}



