{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="partner-login">
 <form id="partner-login-form">
    <h2>User Login</h2>
    <!-- TODO -->
    <h2>Partner Login</h2>
    <input type="password" name="private_key" placeholder="private key" required /><br>
    <input type="text" name="partner_id" placeholder="partner id" required /><br>
    <select form="partner-login-form" name="type">
        <option value="label">record label</option>
        <option value="publisher">publisher</option>
    </select><br>
    <input type="text" name="email" placeholder="email" required /><br>
    <input type="text" name="name" placeholder="name" required /><br>
    <input type="password" name="password" placeholder="password" required /><br>
    <input type="submit" value="login" />
  </form>
</div>
<div id="partner-register">
  <form id="partner-register-form">
      <h2>Partner Registration</h2>
      <select form="partner-register-form" name="type">
        <option value="label">record label</option>
        <option value="publisher">publisher</option>
      </select><br>
      <input type="text" name="email" placeholder="email" required /><br>
      <input type="text" name="name" placeholder="name" required /><br>
      <input type="password" name="password" placeholder="password" required /><br>
      <input type="submit" value="register"/>
  </form>
</div>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

// Callbacks
var partnerLoginCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
  location.replace("http://localhost:8888/"+json["partner_type"])
};

var partnerRegisterCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function(){
    // Partner login
    var partnerLoginForm = document.getElementById("partner-login-form");
    partnerLoginForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#partner-login-form").serialize();
      httpPostAsync("http://localhost:8888/partner_login", formData, partnerLoginCallback);
    };
    // Partner register 
    var registerPartnerForm = document.getElementById("partner-register-form");
    registerPartnerForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#partner-register-form").serialize();    
      httpPostAsync("http://localhost:8888/partner_register", formData, partnerRegisterCallback); 
    };
}
</script>
{{end}}



