{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="artist">
  <form id="artist-login-form">
    <h2>Artist Login</h2>
    <input type="text" name="name" placeholder="name" required /><br>
    <input type="text" name="email" placeholder="email" required /><br>
    <input type="text" name="open_id" placeholder="open ID" required /><br>  
    <input type="text" name="partner_id" placeholder="partner ID" required /><br>
    <input type="password" name="password" placeholder="password" required /><br>
    <input type="submit" value="register"/>
  </form>
</div>
<div id="partner">
   <form id="partner-login-form">
    <h2>Partner Login</h2>
    <input type="text" name="public_key" placeholder="public key" required /><br>
    <input type="password" name="private_key" placeholder="private key" required /><br>
    <input type="text" name="partner_id" placeholder="partner ID" required /><br>
    <input type="submit" value="login" />
  </form>
  <form id="partner-register-form">
    <h2>Partner Registration</h2>
    <select form="partner-register-form" name="type">
      <option value="label">record label</option>
      <option value="publisher">publisher</option>
    </select><br>
    <input type="text" name="name" placeholder="name" required /><br>
    <input type="text" name="email" placeholder="email" required /><br>
    <input type="text" name="login" placeholder="login page" required /><br>
    <input type="password" name="password" placeholder="password" required /><br>
    <input type="submit" value="register"/>
  </form>
</div>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

// Callbacks
var artistLoginCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

var partnerLoginCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

var partnerRegisterCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function(){
    // Artist login
    var artistLoginForm = document.getElementById("artist-login-form");
    artistLoginForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#artist-login-form").serialize();
      httpPostAsync("http://localhost:8888/artist_login", formData, artistLoginCallback);
    };
    // Partner login
    var partnerLoginForm = document.getElementById("partner-login-form");
    partnerLoginForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#partner-login-form").serialize();
      httpPostAsync("http://localhost:8888/partner_login", formData, partnerLoginCallback);
    };
    // Partner register 
    var partnerRegisterForm = document.getElementById("partner-register-form");
    partnerRegisterForm.onsubmit = function(event) {
      event.preventDefault();
      var formData = $("#partner-register-form").serialize();    
      httpPostAsync("http://localhost:8888/partner_register", formData, partnerRegisterCallback); 
    };
}
</script>
{{end}}



