{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<br><br>
<form id="record-form" name="record-form" enctype="multipart/form-data">
    <header>RECORD</header>
    <input type="text" name="compositionRightId" placeholder="COMPOSITION RIGHT ID" />
    <input type="text" name="isrc" placeholder="ISRC CODE" required />
    <input type="text" name="labelId" placeholder="LABEL ID" required />
    <input type="text" name="performerId" placeholder="PERFORMER ID" required />
    <input type="text" name="producerId" placeholder="PRODUCER ID" required />
    <input type="text" name="publicationId" placeholder="PUBLICATION ID" required />
    <input accept="audio" type="file" name="recording" required />
    <input type="submit" value="submit" />
</form>
<form id="release-form" name="release-form">
    <header>RELEASE</header>
    <input type="text" name="mechanicalLicenseId" placeholder="MECHANICAL LICENSE ID" />
    <input type="text" name="recordingId" placeholder="RECORDING ID" required />
    <input type="text" name="rightIds" placeholder="RIGHT IDs" required />
    <input type="submit" value="release" />
</form>
<form id="search-form" name="search-form" style="margin-top: -240px">
    <header>RELEASE DETAILS</header>
    <input type="text" name="releaseId" placeholder="RELEASE ID" style="border-bottom: solid 1px #025768" required /><br><br>
    <label>FIELD</label>
    <select form="search-form" name="field" required>
        <option value="" disabled selected></option>
        <option value="composition_right">COMPOSITION RIGHT</option>
        <option value="mechanical_license">MECHANICAL LICENSE</option>
        <option value="performer">PERFORMER</option>
        <option value="producer">PRODUCER</option>
		<option value="label">RECORD LABEL</option>
        <option value="publication">PUBLICATION</option>
        <option value="recording">RECORDING</option>
        <option value="rights">RIGHTS</option>
    </select><br><br>
    <input type="submit" value="search" />
</form>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

window.onload = function() {

	var recordForm = $("#record-form");
	recordForm.submit(function(event) {
		event.preventDefault();
		var formData = new FormData(event.target);
		httpPostAsync("http://localhost:8888/record", formData, callback);
	});

	var releaseForm = $("#release-form");
	releaseForm.submit(function(event){
		event.preventDefault();
		var formData = releaseForm.serialize();
		httpPostAsync("http://localhost:8888/release", formData, callback);
	});

	var searchForm = $("#search-form");
 	searchForm.submit(function(event){
   		event.preventDefault();
    	var formData = searchForm.serialize();
    	formData.set("type", "release");
    	httpPostAsync("http://localhost:8888/search", formData, callback);
  	});
}
</script>
{{end}}