{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="release-form" name="release-form">
    <header>RELEASE</header>
    <input type="text" name="mechanicalLicenseId" placeholder="MECHANICAL LICENSE ID" />
    <input type="text" name="recordingId" placeholder="RECORDING ID" required />
    <input type="text" name="recordingRightIds" placeholder="RECORDING RIGHT IDs" required />
    <input type="text" name="recordLabelId" placeholder="RECORD LABEL ID" required />
    <input type="submit" value="RELEASE" />
</form>
<form id="search-form" name="search-form" style="margin-top: -240px">
    <header>SEARCH RELEASE</header>
    <input type="text" name="type" value="release" hidden />
    <input type="text" name="releaseId" placeholder="RELEASE ID" style="border-bottom: solid 1px #025768" required /><br><br>
    <select form="search-form" name="field" required>
        <option value="" disabled selected>--FIELD--</option>
        <option value="recordings">RECORDINGS</option>
        <option value="recording_rights">RECORDING RIGHTS</option>
        <option value="record_label">RECORD LABEL</option>
    </select><br><br>
    <input type="submit" value="SEARCH" />
</form>
<form id="prove-form" name="prove-form" style="margin-top: -240px">
    <header>PROVE RECORD LABEL</header>
    <input type="text" name="type" value="release" hidden />
    <input type="text" name="challenge" placeholder="CHALLENGE" required />
    <input type="text" name="releaseId" placeholder="RELEASE ID" required />
    <input type="submit" value="PROVE" />
</form>
<form id="verify-form" name="verify-form" style="margin-top: -240px">
    <header>VERIFY RECORD LABEL</header>
    <input type="text" name="type" value="release" hidden />
    <input type="text" name="releaseId" placeholder="RELEASE ID" required />
    <input type="text" name="signature" placeholder="SIGNATURE" required />
    <input type="submit" value="VERIFY" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

window.onload = function() {

	var releaseForm = $("#release-form");
	releaseForm.submit(function(event){
		event.preventDefault();
		var formData = releaseForm.serialize();
		httpPostAsync("http://localhost:8888/release_handler", formData, callback);
	});

	var searchForm = $("#search-form");
 	searchForm.submit(function(event){
   		event.preventDefault();
    	var formData = searchForm.serialize();
    	httpPostAsync("http://localhost:8888/search_handler", formData, callback);
  	});

    var proveForm = $("#prove-form");
    proveForm.submit(function(event){
        event.preventDefault();
        var formData = proveForm.serialize();
        httpPostAsync("http://localhost:8888/prove_handler", formData, callback);
    });

    var verifyForm = $("#verify-form");
    verifyForm.submit(function(event){
        event.preventDefault();
        var formData = verifyForm.serialize();
        httpPostAsync("http://localhost:8888/verify_handler", formData, callback);
    });
}
</script>
{{end}}