{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<br><br>
<form id="right-form" name="right-form">
    <header>RIGHT</header>
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" />
    <input type="text" name="recipientId" placeholder="RECIPIENT ID" required />
    <input type="number" name="recipientShares" placeholder="RECIPIENT SHARES" min=1 max=100 required />
    <input type="text" name="recordingId" placeholder="RECORDING ID" />
    <input type="text" name="territory" placeholder="TERRITORY" required />
    <input type="text" name="usage" placeholder="USAGE" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" style="border-bottom: solid 1px #025768;" required /><br><br>
    <input type="submit" value="ASSIGN" />
</form>
<form id="license-form" name="license-form">
    <header>LICENSE</header>
    <input type="text" name="publicationId" placeholder="PUBLICATION ID" />
    <input type="text" name="recipientId" placeholder="RECIPIENT ID" required />
    <input type="text" name="releaseId" placeholder="RELEASE ID" />
    <input type="text" name="rightId" placeholder="RIGHT ID" />
    <input type="text" name="rightTransferId" placeholder="RIGHT TRANSFER ID" />
    <input type="text" name="territory" placeholder="TERRITORY" required />
    <input type="text" name="usage" placeholder="USAGE" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" style="border-bottom: solid 1px #025768;" required /><br><br>
    <input type="submit" value="LICENSE" />
</form>
<form id="transfer-form" name="transform-form" style="margin-top: -240px">
    <header>RIGHT TRANSFER</header>
    <input type="text" name="publicationId" placeholder="PUBLICATION ID" />
    <input type="text" name="recipientId" placeholder="RECIPIENT ID" required />
    <input type="number" name="recipientShares" placeholder="RECIPIENT SHARES" min=1 max=100 required />
    <input type="text" name="releaseId" placeholder="RELEASE ID" />
    <input type="text" name="rightId" placeholder="RIGHT ID" />
    <input type="text" name="rightTransferId" placeholder="RIGHT TRANSFER ID" />
    <input type="submit" value="TRANSFER" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

window.onload = function() {

    var rightForm = $("#right-form");
    rightForm.submit(function(event) {
        event.preventDefault();
        var formData = rightForm.serialize();
        httpPostAsync("http://localhost:8888/right", formData, callback);
    });

    var licenseForm = $("#license-form");
    licenseForm.submit(function(event) {
        event.preventDefault();
        var formData = licenseForm.serialize();
        httpPostAsync("http://localhost:8888/license", formData, callback);
    });

    var transferForm = $("#transfer-form");
    transferForm.submit(function(event) {
        event.preventDefault();
        var formData = transferForm.serialize();
        httpPostAsync("http://localhost:8888/transfer", formData, callback);
    });
}
</script>
{{end}}