{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<header>RIGHT</header>
<form id="right-form" name="right-form">
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" /><br>
    <input type="text" name="recordingId" placeholder="RECORDING ID" /><br>
    <input type="number" name="percentageShares" placeholder="PERCENTAGE SHARES" min=1 max=100 required /><br>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" required /><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" required /><br>
    <input type="submit" value="submit" />
</form>
<header>LICENSE</header>
<form id="license-form" name="license-form">
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" required /><br>
    <input type="text" name="releaseId" placeholder="RELEASE ID" required /><br>
    <input type="text" name="licenseeId" placeholder="LICENSEE ID" required /><br>
    <select form="license-form" name="licenseType" required>
        <option value="" disabled selected>SELECT TYPE</option>
        <option value="master_license">MASTER</option>
        <option value="mechanical_license">MECHANICAL</option>
        <option value="synchronization_license">SYNCHRONIZATION</option>
    </select>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" required /><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" required /><br>
    <input type="submit" value="submit" />
</form>
<pre id="message"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    var json = JSON.parse(responseText);
    var str = JSON.stringify(json,null,2);
    $("#message").text(str);
};

window.onload = function() {

    var rightForm = $("#right-form");
    rightForm.submit(function(event) {
        event.preventDefault();
        var formData = rightForm.serialize();
        httpPostAsync("http://localhost:8888/right", formData, callback);
    });

    var licenseForm = $("#license-form");
    licenseForm.submit(function(event) {
        event.preventDefault();
        var formData = licenseForm.serialize();
        httpPostAsync("http://localhost:8888/license", formData, callback);
    });
}
</script>
{{end}}