{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div id="upload-album">
    <form id="upload-album-form" name="upload-album-form" enctype="multipart/form-data">
        <h2>Upload Album</h2>
        <input type="text" name="album_title" placeholder="album title" required /><br>
        <input type="text" name="publisher_id" placeholder="publisher ID" required /><br>
        <input accept="audio" type="file" name="tracks" multiple required /><br>
        <input type="submit" value="upload" />
    </form>
</div>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var uploadAlbumCallback = function(responseText) {
  var json = JSON.parse(responseText);
  console.log(json); //for now
};

window.onload = function() {
    // Upload album
    var uploadAlbumForm = document.getElementById("upload-album-form");
    uploadAlbumForm.onsubmit = function(event) {
      event.preventDefault();
      console.log(event.target)
      var formData = new FormData(event.target);
      console.log(formData);
      httpPostAsync("http://localhost:8888/upload_album", formData, uploadAlbumCallback);
    };
}
</script>
{{end}}